global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "phishing_rules.yml"

scrape_configs:
  - job_name: 'phishing-api'
    static_configs:
      - targets: ['phishing-api:8000']
    metrics_path: /metrics
    scrape_interval: 10s
    scrape_timeout: 5s
  
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

alerting:
  alertmanagers:
    - static_configs:
        - targets: []